#!/usr/bin/make -f

# SSE support enabled only for amd64
SSE_FLAGS =

ifeq ($(DEB_HOST_ARCH),amd64)
SSE_FLAGS = -mfpmath=sse -msse -msse2 -msse3 -mssse3
endif

.PHONY: override_dh_auto_configure	\
	override_dh_auto_build-indep	\
	override_dh_install		\
	override_dh_strip		\
	override_dh_auto_test

override_dh_auto_configure:
	dh_auto_configure -- \
                -DENABLE_TESTS_COMPILATION:BOOL=False \
                -DUSE_HOST_CFLAGS:BOOL=False \
                -DUSE_UPSTREAM_CFLAGS:BOOL=False \
                -DCMAKE_BUILD_TYPE=RelWithDebInfo \
                -DCMAKE_CXX_FLAGS_RELWITHDEBINFO:STRING="$(SSE_FLAGS)"

#override_dh_auto_build-indep:
#	dh_auto_build -- doc # Generate Doxygen HTML documentation.

override_dh_install:
	dh_install -- # Install

	# Get rid of fonts already packaged elsewhere.
	tmp=`ls debian/gazebo3-common/usr/share/gazebo-*/media/gui/fonts/DejaVuSans.ttf` \
	&& rm $$tmp \
	&& ln -s /usr/share/fonts/truetype/ttf-dejavu/DejaVuSans.ttf $$tmp

	# Arial is not free. Replace it by ttf-liberation
	tmp=`ls debian/gazebo3-common/usr/share/gazebo-*/media/fonts/arial.ttf` \
	&& rm $$tmp \
	&& ln -s /usr/share/fonts/truetype/ttf-liberation/LiberationSans-Regular.ttf $$tmp

        # Install icon
	mkdir -p debian/gazebo3/usr/share/icons/hicolor/scalable/apps/
	install -m 644 gazebo/gui/images/gazebo.svg \
            debian/gazebo3/usr/share/icons/hicolor/scalable/apps/gazebo.svg

        # Install desktop file--with bash-completion
	mkdir -p debian/gazebo3/usr/share/applications/
	install -m 644 ./debian/gazebo.desktop \
            debian/gazebo3/usr/share/applications/


override_dh_strip:
	dh_strip -a --dbg-package=libgazebo3-dbg

override_dh_auto_test:
	true

%:
	dh $@ --parallel --buildsystem=cmake --with bash-completion
